# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs
/QtClassLibraryInject/lib
/QtClassLibraryInject/QtClassLibraryInject/x64
/QtClassLibraryInject/QtWidgetsAppDemo/x64
/MFCInject/x64
/MFCInject/MFCLibraryInject/*.aps
/MFCInject/MFCInject/*.aps
/MFCInject/MFCInject/x64
/MFCInject/MFCLibraryInject/x64
/QtClassLibraryInject/x64
